@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<p>
    <a href="#createCourseModal" class="btn btn-primary" data-toggle="modal">
        <span>New course</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                Teacher
            </th>
            <th>

            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Price PLN
                </td>

                <td>
                    @item.Teacher.FirstName @item.Teacher.LastName
                </td>

                <td>
                    @*<a asp-action="AddStudent" asp-controller="Students"
                        asp-route-id=@item.Id class="btn btn-primary">Add student</a>*@
                    <a href="#addStudentModal" id="modal1" class="btn small btn-success" data-toggle="modal"
                       data-course-id="@item.Id" data-course-name="@item.Name" >
                        <i class="material-icons">&#xE147;</i>
                        <span >New Student</span>
                    </a>
                </td>

                <td>
                    <a href="#editCourseModal" class="editModal" data-toggle="modal"
                       data-course-id="@item.Id" data-course-name="@item.Name">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a> |
                    <a href="#detailsCourseModal" class="detailsModal" data-toggle="modal"
                       data-course-id="@item.Id" data-course-name="@item.Name">
                        <i class="material-icons" data-toggle="tooltip" title="Details">&#xE8D2;</i>
                    </a> |
                    <a href="#deleteCourseModal" class="deleteModal" data-toggle="modal"
                       data-course-id="@item.Id" data-course-name="@item.Name">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*---------------->ADD STUDENT MODAL------------*@
<div id="addStudentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="StudentCourseConnection" asp-action="AddIds">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="courseId" value="" name="courseId" />
                        <label>Student Name</label>
                        <select asp-items="@ViewBag.StudentId" class="form-control" name="studentId">
                            <option value="-1">--Choose student--</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Add" class="btn btn-success">
                </div>

            </form>
        </div>
    </div>
</div>


@*---------------->CREATE COURSE MODAL------------*@
<div id="createCourseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Courses" asp-action="Create">
                <div class="modal-header">
                    <h4 class="modal-title">Create new course</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Course name</label>
                            <input type="text" class="form-control" required="required" name="courseName" />
                        </div>

                        <div class="form-group">
                            <label>Level</label>
                            <select class="form-control" name="level">
                                <option selected="selected" disabled="disabled">---Select Level---</option>
                                <option>Begginer</option>
                                <option>Intermediate</option>
                                <option>Advanced</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" required="required" name="description"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" required="required" name="price" />
                        </div>

                        <div class="form-group">
                            <label>Teacher</label>
                            <select asp-items="@ViewBag.TeacherId" class="form-control" name="teacherId">
                            </select>
                        </div>

                    </div>

                    
                

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Add" class="btn btn-success">
                </div>

            </form>
        </div>
    </div>
</div>


@*---------------->EDIT COURSE MODAL------------*@
<div id="editCourseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Courses" asp-action="Edit">
                <div class="modal-header">
                    <h4 class="modal-title">Edit course</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Course name</label>
                            <input type="text" class="form-control" required="required" name="courseName"
                                   id="courseName" />
                        </div>

                        <div class="form-group">
                            <label>Level</label>
                            <select class="form-control" name="level" id="level">
                                <option selected="selected" disabled="disabled">---Select Level---</option>
                                <option>Begginer</option>
                                <option>Intermediate</option>
                                <option>Advanced</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" required="required" name="description" id="description"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" required="required" name="price" id="price" />
                        </div>

                        <div class="form-group">
                            <label>Teacher</label>
                            <select asp-items="@ViewBag.TeacherId" class="form-control" name="teacherId" id="teacherId">
                            </select>
                        </div>

                    </div>

                    
                

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Add" class="btn btn-success">

                    <input type="hidden" name="id" id="id" />
                </div>

            </form>
        </div>
    </div>
</div>
    

@*---------------->DETAILS COURSE MODAL------------*@
<div id="detailsCourseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="detailsModalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                    <div class="modal-body">
                        <div>
                            <dl>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Id)
                                </dt>
                                <dd class="col-sm-10" id="id">
                                    
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-10" id="name">
                                    
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Level)
                                </dt>
                                <dd class="col-sm-10" id="level">
                                    
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10" id="description">
                                    
                                </dd>
                                <dt class="col-sm-2">
                                    Price
                                </dt>
                                <dd class="col-sm-10" id="price">
                                   
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Slug)
                                </dt>
                                <dd class="col-sm-10" id="slug">
                                    
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Sorting)
                                </dt>
                                <dd class="col-sm-10" id="sorting">
                                    
                                </dd>
                                <dt class="col-sm-2">
                                    Teacher Id
                                </dt>
                                <dd class="col-sm-10" id="teacherId">
                                    
                                </dd>
                            </dl>
                        </div>
                    </div>
               

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                  
                </div>

        </div>
    </div>
</div>


@*---------------->DELETE COURSE MODAL------------*@
<div id="deleteCourseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Courses" asp-action="Delete">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                <div class="modal-body">
                    <p>Do you really want to delete this course?</p>
                    <p class="text=warning"><small>This action cannot be undone.</small></p>
                </div>

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <input type="hidden" name="id" id="id" />
                </div>

            </form>

        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            //console.log("checking...")
            $('[data-toggle="tooltip"]').tooltip();

            //passing data to modal
            $('#addStudentModal').on('show.bs.modal', function(e) {


            var courseId = $(e.relatedTarget).data('course-id');
            var courseName = $(e.relatedTarget).data('course-name');


             document.getElementById("modalTitle").innerHTML = "Add student to " + courseName + " course";

            $(e.currentTarget).find('input[name="courseId"]').val(courseId);
            });


            $('table .deleteModal').on('click', function () {
                var courseId = $(this).data('course-id');
                var courseName = $(this).data('course-name');

                document.getElementById("deleteModalTitle").innerHTML = "Delete " + courseName + " course ?";
                

                $('#deleteCourseModal #id').val(courseId);
            });

            $('table .editModal').on('click', function (e) {
                var courseId = $(this).data('course-id');
                console.log(courseId);
                
                $.ajax({
                    type: 'Get',
                    data: {id:courseId},
                    url: '/admin/Courses/FindCourse',
                    success: function (result) {
                        $('#editCourseModal #id').val(result.id);
                        $('#editCourseModal #courseName').val(result.name);
                        $('#editCourseModal #level').val(result.level);
                        $('#editCourseModal #description').val(result.description);
                        $('#editCourseModal #price').val(result.price);
                        $('#editCourseModal #teacherId').val(result.teacherId);
                    }
                })
            });

            $('table .detailsModal').on('click', function () {
                //var id = $(this).parent().find('#id').val();
                var courseId = $(this).data('course-id');
                var courseName = $(this).data('course-name');
                console.log(courseId);
                document.getElementById("detailsModalTitle").innerHTML = courseName + " course details";


                $.ajax({
                    type: 'Get',
                    data: {id:courseId},
                    url: '/admin/Courses/FindCourse',
                    success: function (result) {
                        $('#detailsCourseModal #id').text(result.id);
                        $('#detailsCourseModal #name').text(result.name);
                        $('#detailsCourseModal #level').text(result.level);
                        $('#detailsCourseModal #description').text(result.description);
                        $('#detailsCourseModal #price').text(result.price);
                        $('#detailsCourseModal #slug').text(result.slug);
                        $('#detailsCourseModal #sorting').text(result.sorting);
                        $('#detailsCourseModal #teacherId').text(result.teacherId);
                    }
                })
            });
        });
    </script>
}