@model IEnumerable<GalileuszSchool.Models.LessonPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Lesson Plan</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stopTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.classroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stopTime)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.course)*@
                @item.Course.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
