<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Admin area</title>

    <link href="~/css/spinner/spinner.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Jura|Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="~/css/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
</head>
@*ADMIN*@
<body>
    <div id="wrapper">
        @*sidebar*@
        <div id="sidebar-wrapper">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <div class="sidebar-heading ">
                    @*<a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="ContactMe">
                            aaaddd
                        </a>*@
                    <img src="~/media/students/woman.jpg" alt="" />
                    <p>@User.Identity.Name.First().ToString().ToUpper()@User.Identity.Name.Substring(1, User.Identity.Name.IndexOf("-") - 1)</p>

                </div>
                <a class="list-group-item list-group-item-action " asp-area="Admin" asp-controller="Pages" asp-action="Index">Pages</a>
                <a class="list-group-item list-group-item-action " asp-area="Admin" asp-controller="Courses" asp-action="Index">Courses</a>
                <a class="list-group-item list-group-item-action " asp-area="Admin" asp-controller="Teachers" asp-action="Index">Teachers</a>
                <a class="list-group-item list-group-item-action " asp-area="Admin" asp-controller="Students" asp-action="Index">Students</a>
                @*<a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="LessonPlan" asp-action="Index">LessonPlan</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="ClassRooms" asp-action="Index">Class Rooms</a>*@
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="StudentCourseConnection"
                   asp-action="ShowAllStudents">List of students</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="User" asp-action="Index">All Users</a>

            }

        </div>

        @*sidebar END*@

        <nav class="navbar">
            <ul class="navbar-nav">

                <li id="menu-toggle" class="material-icons md-36 left-nav" title="Menu" style="padding-right:5px;">&#xe5d2;</li>


                <li class="center-nav">
                    <p>Galileusz</p>
                    <img src="~/media/GS (1).png" style="width:140px; height:140px;" alt="" />
                    <p>School</p>
                </li>

                <li class="nav-item dropdown right-nav">

                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>Welcome @User.Identity.Name.First().ToString().ToUpper()@User.Identity.Name.Substring(1, User.Identity.Name.IndexOf("-") - 1)</strong>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item" id="nopad">
                                <i class="material-icons-outlined employee">keyboard_backspace</i>
                                <a asp-area="" asp-controller="Account" asp-action="Logout" id="log"> Log out</a>
                            </li>
                        </ul>
                    }
                </li>
            </ul>

        </nav>


        <!-- Page Content -->

        <div class="container main">
            <main role="main" class="pb-3" id="mainContainer">
                <div id="divNotification" class="alert alert-success notification" style="display:none">
                </div>
                <partial name="_NotificationPartial" />
                @RenderBody()
            </main>
        </div>

        <!-- /#page-content-wrapper -->
    </div>

    @*order of this is important*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/DataTables/jquery.dataTables.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/knockout-3.5.1.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
