@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Users</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>

                <td>@role.Id</td>
                <td>@role.Name</td>
                <td user-role="@role.Id"></td>
                

                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id">Edit</a> |
                    <a class="confirmDeletion" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
